html,body{
	font-size: 10px;
}
h1, .h1{
	font-weight: 700;
	font-size: 4.1em;
	margin-bottom: 2.7rem;
}
header{
	padding: .9rem 0 0.6rem;
	.logo{
		width: 8.3rem;
	}
	.right-header{
		width: calc(100% - 9rem);
	}
	.contacts{
		width: 100%;
		justify-content: space-between;
		.item{
			margin: 0;
			&:nth-child(2){
				display: none;
			}
		}
	}
	.link-page{
		display: none;
	}
	ul{
		font-size: 1.4em;
		justify-content: space-between;
		padding: 0 1rem;
		font-weight: 400;
		li{
			margin: 0 0;
		}
	}
}
.nav-main-wr{
	background: #292732;
	color: #fff;
	text-align: left;
	margin-left: -15px;
	width: calc(100% + 30px);
	padding: 2rem 15px;
	margin-bottom: 3.7rem;
	position: relative;
	.nav-main{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		display: block;
		background: #43414F;
		z-index: 9;
		border-radius: 0px 0px 4px 4px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
		transition: transform 0.3s, opacity 0.3s;
		transform: scaleY(0);
		opacity: 0;
		transform-origin: 50% top;
		&.active{
			transform: scaleY(1);
			opacity: 1;
		}
		a{
			justify-content: flex-start;
			br{
				display: none;
			}
		}
		svg{
			width: 3rem;
		}
	}
	.mobile-nav{
		display: inline-flex;
	}
}
.action-block{
	margin-top: 2.2rem;
	width: 100%;
	max-width: 100%;
	.title{
		.item{
			padding: 1.8rem 0;
			min-height: 7.2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			justify-content: center;
			&:first-child{
				width: 15.9%;
			}
			&:nth-child(2){
				white-space: normal;
				text-align: left;
				padding-left: 2rem;
			}
		}
	}
}
.four-label{
	flex-wrap: wrap;
	label{
		width: 48%;
	}
}
.form-action{
	padding: 4.1rem 0.9rem 2.8rem;
}
.main-section{
	padding: 1px 0 5.4rem;
}
.section-about{
	padding: 3.4rem 0 2rem;
	h2, .h2{
		margin-bottom: 5rem;
	}
}
.items-about{
	font-size: 1.5em;
	justify-content: center;
	margin-bottom: 1.7rem;
	.item{
		width: 33.33%;
		padding-top: 4rem;
		min-height: 21rem;
		padding-bottom: 1rem;
		&:nth-child(4n){
			border-right-width: 1px;
		}
		&:nth-child(5), &:nth-child(6){
			border-bottom-width: 1px;
		}
		&:nth-child(3n), &:last-child{
			border-right-width: 0;
		}
	}
}
.items-services{
	justify-content: space-between;
	.item{
		width: 48%;
		margin-left: 0;
		margin-right: 0;
		&:nth-child(odd):last-child{
			margin: 0 auto 2rem;
		}
	}
}
.section-price{
	padding: 3.5rem 0 8.5rem;
	h2, .h2{
		margin-bottom: 2.2rem;
	}
}
.price-block{
	margin-left: -15px;
	width: calc(100% + 30px);
	padding: 4.5rem 15px 3rem;
}
.owl-work{
	margin-bottom:3rem;
	.owl-dots{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		button{
			padding: 0;
			background: none;
			border: none;
			margin: 0 1.2rem;
			position: relative;
			z-index: 6;
			&.active{
				span{
					background: #292732;
				}
			}
			span{
				width: 1.4rem;
				height: 1.4rem;
				border: 0.2rem solid #292732;
				border-radius: 50%;
				display: block;
			}
		}
	}
	.owl-nav{
		bottom: -0.6rem;
		button{
			height: auto;
			width: auto;
			background: none !important;
			svg{
				width: 1.4rem;
				height: 3.1rem;
				fill: #292732;
			}
		}
	}
}
.owl-nav-1{
	padding: 0 4.1rem;
}
.owl-video{
	margin-bottom: 10rem;
	.owl-dots{
		display: flex;
		button{
			&.active{
				span{
					background: #292732;
				}
			}
			span{
				border: 0.2rem solid #292732;
			}
		}
	}
}
footer{
	.logo{
		display: none;
	}
	.right-header{
		width: 100%;
	}
	ul{
		font-size: 1.4em;
		justify-content: space-between;
		li{
			margin: 0;
		}
	}
	.contacts{
		flex-wrap: wrap;
		.item{
			width: 33%;
			justify-content: center;
			&:first-child{
				width: 100%;
				margin-bottom: 2rem;
				justify-content: center;
			}
		}
	}
}













